---
import config from "@/config/config.json";
const year = new Date().getFullYear()
---

<footer class="px-main flex justify-center dark:text-white">
  <p class="text-gray-500">© CoderyStack {year}</p>
</footer>
