---
// Rendered when a post is clicked

export const prerender = true;

import Base from "@/layouts/Base.astro";
import { render } from "astro:content";
import { getSinglePage } from "@/utils/contentParser.astro";
import Post from "@/components/Post";
import PostComments from "@/components/PostComments.astro";

export async function getStaticPaths() {
  const posts = await getSinglePage("posts" as any);

  const paths = posts.map((post: any) => ({
    params: {
      single: post.id,
    },
    props: { post },
  }));

  return paths;
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Base>
  <section class="max-w-3xl mx-auto px-5 md:px-12 py-10">
    <Post
      post={{
        id: post?.id,
        slug: post?.id,
        body: post?.body,
        showFullPost: true,
        ...post?.data,
      }}
      client:idle
    />
    <div class="markdown dark:text-text-heading-dark">
      <Content />
    </div>
    <PostComments />
  </section>
</Base>
