@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --padding-main: 2rem;
  
}

//customize the default font used
@layer base {
  body {
    @apply text-gray-700
  }
}

.p-main {
  padding: var(--padding-main);
}

.px-main {
  padding: var(--padding-main);
}

.markdown > * {
  all: revert;
}

.markdown p {
  letter-spacing: 1.1px;
}

.markdown {
  h1,h2 {
    font-size: 1.3rem;
  }

  h3, h4, h5, h6 {
    font-size: 1.2rem;
  }
}

.markdown a {
  text-decoration: underline;
}
.markdown a:hover {
  color: theme("colors.primary-color");
}