---
import Base from "@/layouts/Base.astro";

export const prerender = true;

---

<Base>
  <section class="max-w-3xl mx-auto px-5 md:px-12 py-10">
    <div class="flex h-[40vh] items-center justify-center">
      <div class="text-center">
        <h1 class="text-6xl font-bold text-text-heading dark:text-text-heading-dark mb-4">404</h1>
        <p class="text-text-body dark:text-text-body-dark">Page not found</p>
      </div>
    </div>
  </section>
</Base>
