---
import Base from "@/layouts/Base.astro";

export const prerender = true;

---

<Base>
	<section class="container mx-auto py-10 px-5 md:px-12 lg:px-36 dark:text-white ">

		<h1>Hi there 👋</h1>

		<br/><br/>


		I'm a mobile developer with experience working across both backend and frontend projects.  
		I enjoy learning new skills and building products that create a positive impact on our society. 🌱💡
		<br/><br/>
		
		Want to connect? Feel free to reach out on  
		<a href="https://www.linkedin.com/in/yousra-saidani-836341165/" target="_blank" class="text-blue-400 underline">LinkedIn</a>!
	
	</section>
</Base>
