---
import Base from "@/layouts/Base.astro";

export const prerender = true;

---

<Base>
	<section class="container mx-auto py-10 px-5 md:px-12 lg:px-36 dark:text-white ">

		<h1>Hi there :wave:</h1>

	 
	</section>
</Base>
