---
// @ts-nocheck

import Base from "@/layouts/Base.astro";
import type { CollectionEntry } from "astro:content";

import config from "@/config/config.json";
import { sortByDate } from "@/utils/strings";
import Post from "@/components/Post";
import Pagination from "@/components/Pagination";
import { getSinglePage } from "@/utils/contentParser.astro";

const posts = sortByDate(
  await getSinglePage<CollectionEntry<"posts">>("posts")
);

const paginationSize = config.settings.pagination;

const totalPages = Math.ceil(posts.length / paginationSize);

const page = Number(Astro.url.searchParams.get("page")) || 1;
const postsSliceStart = (page - 1) * paginationSize;
const postsSliceEnd = postsSliceStart + paginationSize;
const currentPosts = posts.slice(postsSliceStart, postsSliceEnd);

console.log("currentPosts :>> ", currentPosts);
---

<Base>
  <section class="flex">
    <div class="flex flex-col items-center w-full">
      {
        currentPosts.map((post) => {
          return (
            <div class="px-10 py-5 my-10 mx-auto w-full sm:w-4/5 lg:w-2/3 xl:w-1/2 shadow-xl rounded-md border border-gray-200">
              <Post
                post={{
                  id: post.id,
                  slug: post.slug,
                  body: post.body,
                  showFullPost: false,
                  embededCodeLanguage: post.embededCodeLanguage,
                  ...post.data,
                }}
                client:idle
              />
            </div>
          );
        })
      }
      {
        totalPages > 1 && (
          <Pagination paginationSize={totalPages} activePage={1} />
        )
      }
    </div>
  </section>
</Base>
