---
// Rendered when a post is clicked

export const prerender = true;

import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/utils/contentParser.astro";

export async function getStaticPaths() {
  const posts = await getSinglePage("posts" as any);

  const paths = posts.map((post: any) => ({
    params: {
      single: post.slug,
    },
    props: { post },
  }));

  return paths;
}

// const { tag } = Astro.props;

---

<Base>
  <section class="flex">
    <div class="flex flex-col items-center w-full">
      {
        <h1>Tag</h1>
      }
    </div>
  </section>
</Base>
